<%- include('partials/header') -%>
<div class="container">
    <img src="auth.png">
    <h2>Please Enter OTP</h2>
</div>


<div class="container">
    <form action="/otp" method="post">
        <div class="form-group">
            <label for="pwd">Email</label>
            <input type="text" name="email" class="form-control" placeholder="Enter email" id="email">
          </div>
        <div class="form-group">
          <label for="pwd">OTP</label>
          <input type="text" name="otp" class="form-control" placeholder="Enter the OTP recieved" id="otp">
        </div>
        <div class="form-audio-section">
          <link rel="stylesheet" href="/css/otp_style.css">
          <p>
            <button id="btnStart" type="button">Record</button>
          </p>

          <script src="/otp_audio.js"></script>
        </div>
        <!-- -->

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <script src="/otp_index.js"></script>
</div>